
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

li {
 list-style: none;
}

li:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #a19f9f;
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 18px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}


.slideone {
  margin-top: 30px;
}

.slide_one_nd {
    margin-left: 15px;
    color: #ddd;
}


.slidetwo {
  margin-top: 60px;
}
.slide_two_nd {
    margin-left: 15px;
    color: #ddd;
}

.slidetwo_nd_select {
  margin-left: -30px;
  padding: 0px;
}

.slidetwo_nd_select ul li {
    position: relative;
}

.Delivery_Reports {
  color: white;
}

.Delivery_Reports .fa-motorcycle {
  margin-right: 10px;
}

.Delivery_menu ul li {
  margin-left: -50px;
  text-align: center;
}

.massage_report {
  color: white;
}

.massage_report .fa-truck {
  margin-right: 10px;
}

.Massage_menu ul li {
  margin-left: -50px;
  text-align: center;
}

/* Content -------------------------------*/
.theright {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  margin-left: 201px;
  background-color: aliceblue;
}

.therightgeneral {
  background-color: whitesmoke;
  height: 95%;
  width: 83%;
  margin-left: 30px;
  margin-top: 30px;

}

.theright_one {
  height: 100px;
}

.theright_one_content_steps {
  display: flex;
}

.theright_one_content_steps {
 margin-left: 180px;
}

button {
  margin-top: 40px;
  padding: 20px;
  font-size: 1rem;
  margin-left: 2px;
  cursor: pointer;
  background-color: #d4d7d9;
}

button:hover {
  background-color: antiquewhite;
}

button:active {
  background-color: rgb(255, 140, 0);
}

.theright_one_space p {
  bottom: 0;
  margin-left: 100px;
  line-height: 10px;
}

/* Send id, phone numbers, seperator,text massage, choose route */
  /* Send id */
.theright_two_id_text  {
 margin-top: 35px;
 margin-left: 10px;
}

.theright_two_id_text p {
  margin-top: -15px;
  font-size: 0.9rem;
  color: red;
  margin-left: 10px;
}

.theright_two_id_type {
  
}

.theright_two_id_type li {
  list-style-type: none;
  margin-left: 10px;
}

.theright_two_id_type input {
  height: 40px;
  width: 30%;
  background-color: #ddd9d9;
  border-radius: 10px;
  padding-left: 10px;
  margin-top: -7px;
}

.theright_two_id_type i {
  position: absolute;
  font-size: 20px;
  margin-left: -28px;
  line-height: 28px;
}

/* Phone numbers */
.therigth_two_phonenumbers {
  margin-left: 10px;
}


.therigth_two_phonenumbers_type {
  margin-left: 10px;
}
.therigth_two_phonenumbers_type input {
  height: 70px;
  width: 60%;
  background-color: #ebe9e9;
  border-radius: 5px;
  padding-left: 10px;
  margin-top: -7px;
}

/* Phone number seperator ------ button radio */
.therigth_two_phonenumbers_seperator {
 
  margin-left: 10px;
}

.therigth_two_phonenumbers_seperator_type {
  margin-top: -10px;
  margin-left: 20px;
}

.round-button {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #333;
  cursor: pointer;
}

/* Ẩn nút radio mặc định */
input[type="radio"] {
  display: none;
}

/* Khi nút radio được chọn, thay đổi màu sắc của nút chọn tròn */
input[type="radio"]:checked + .round-button {
  background-color: #101112;
}

label {
  margin: 0;
  padding: 40px;
}

/* Text massage */
.theright_two_text_massage {
  margin-left: 10px;
}

.theright_two_text_massage p {
  margin-top: -13px;
  margin-left: 10px;
  color: red;
  font-size: 0.9rem;
}

.theright_two_text_massage input {
  height: 70px;
  width: 60%;
  padding-left: 10px;
  margin-top: -5px;
}
 .theright_two_text_massage li {
  margin-left: 10px;
 }


/* Choose */
.theright_two_choose {
  margin-left: 10px;
}

.theright_two_choose input {
  height: 65px;
  width: 60%;
  margin-top: -10px;
  margin-left: 10px;
  padding-left: 10px;
  background-color: antiquewhite;
}

/* Right */
.theright_right {
  height: 100%;
  width: 37%;
  background-color: #4a6d91;
  margin-left: 800px;
  margin-top: -670px;
}